.wrapper {
  border: 2px solid rgb(0, 228, 57);
  width: 30%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}

.buttonCount {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.angka {
  text-align: center;
  font-size: 20px;
}

#ubahLatar {
  display: flex;
  justify-content: center;
}

.judulUbah {
  text-align: center;
}

.on,
.off {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}

.off {
  background-color: black;
}

.on {
  background-color: rgb(185, 185, 139);
}

.on > button,
.off > button {
  padding: 8px;
  background-color: transparent;
  border: 0;
  font-size: 32px;
  cursor: pointer;
}

.off > button {
  color: white;
}

.on > button {
  color: yellow;
}

.buttonTodo {
  margin-left: 10px;
}
